
@font-face {
    font-family:'ribeye';
    src: url(/assets/font/Ribeye-Regular.ttf);
     
  }


    mat-icon{
      --animate-duration: 4000ms;

    }
    
    .dropdown-item:hover{
      box-shadow: 1px 1px 2px rgb(100, 97, 97);
      background-color: rgb(253, 8, 8);  
      color: antiquewhite; 
    }
  
 
/*     
    a{
    text-decoration: none;
    color: rgba(253, 8, 8, 0.89);
    } */
    
   
  
     .navbar{
  
      box-shadow: 5px 5px 10px rgb(100, 97, 97);
  
       }
    
  /* ------------------------------------@media------------------------------------- */
  
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 574px) {
    
  
    .navbar-collapse{
      transition: all 500ms linear;
    }
  
    .navbar-brand{
      font-family:'ribeye';
      font-size: 4.6vw;
      color: rgba(253, 8, 8, 0.89);
      font-weight: bold;  
      text-shadow: 1px 1px 2px rgba(253, 8, 8, 0.815);
       
      }
      .navbar-brand:hover{
        color: rgb(253, 8, 8);    
        text-shadow: 2px 2px 2px rgba(253, 8, 8, 0.815);        
      } 
  
     
    
    
  
    .nav-item{
        transition: all 500ms linear;
     
        /* margin-top: 10px; */
    }
  
    #font .nav-item{
      font-family:'ribeye';
      font-size: 4.5vw;
      
  }
  
   #font .dropdown-menu{
      font-size: 4.5vw;
      width: 68vw;
      box-shadow: 5px 5px 10px rgb(100, 97, 97); 
   }
  
   .dropdown-item:hover{
    
    background-color: coral;
    font-weight: bold;
   
   }
  
  
  

  
    
    
  }
    
  
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 575px) and (max-width: 768px) {
    
   
  
       .navbar-brand{
        font-family:'ribeye';
        font-size: 2.8vw;
        text-shadow: 1px 1px 2px rgba(253, 8, 8, 0.815);
        color: rgba(253, 8, 8, 0.89);       
      }
      .navbar-brand:hover{
        color: rgb(253, 8, 8);    
        text-shadow: 2px 2px 2px rgba(253, 8, 8, 0.815);        
      } 
  
      

    
      #font .nav-item{
        font-family:'ribeye';
        font-size: 2.8vw;
        
    }
    
     #font .dropdown-menu{
        font-size: 2.8vw;
        width: 68vw;
        box-shadow: 5px 5px 10px rgb(100, 97, 97); 
     }
    
     .dropdown-item:hover{
      
      background-color: coral;
      font-weight: bold;
     
     }
    
      
    
    /* a{
    text-decoration: none;
    color: rgba(253, 8, 8, 0.89);
    }
     */
  
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
        .navbar-brand{
        font-family:'ribeye';
        font-size: 2.2vw;
        color: rgba(253, 8, 8, 0.89);
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(253, 8, 8, 0.815);
           
      }
      .navbar-brand:hover{
        color: rgb(253, 8, 8);    
        text-shadow: 2px 2px 2px rgba(253, 8, 8, 0.815);        
      } 
  
      .navbar-nav{
        margin-left: 35vw;
      }
    
   
    
      #font .nav-item{
        font-family:'ribeye';
        font-size: 1.8vw;
        margin-top: 0.93vw;
        
    }
    
     #font .dropdown-menu{
        font-size: 1.8vw;
        width: 30vw;
        box-shadow: 5px 5px 10px rgb(100, 97, 97); 
     }
    
  
    
  }
    
  
  /* Extra Large devices (laptops/desktops, 1280px and up) */ 
  @media only screen and (min-width: 1025px) {
    
  
    
    .navbar-brand{
      font-family:'ribeye';
      font-size: 1.9vw;
      color: rgba(253, 8, 8, 0.89);     
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(253, 8, 8, 0.815);
    }
    .navbar-brand:hover{
      color: rgb(253, 8, 8);    
      text-shadow: 2px 2px 2px rgba(253, 8, 8, 0.815);        
    } 

    .navbar-nav{
      margin-left: 42vw;
    }
  
  
  #font .nav-item{
  font-family:'ribeye';
  font-size: 1.4vw;
  margin-top: 0.7vw;
  }
  
  
  
   .dropdown-menu{
    font-family:'ribeye';
    font-size: 1.2vw;
    width: 30vw;
    box-shadow: 5px 5px 10px rgb(100, 97, 97); 
  }


  
  
  }