  

<section class="form_wrap animate__animated animate__fadeIn" >
    

    <section class="cantact_info " >
        <section class="info_title ">
            <span class="fa fa-user-circle"></span>
            
            <h2>NOS ENCONTRAMOS ACA!!</h2>
        </section>
        <section class="info_items">
            <p ><span id="envelope"> <i class="fa fa-envelope"></i></span>  katy_barrozzo99@gmail.com</p>

            <a href="https://www.google.com.ar/maps/place/Dulce+Alma+Deco/@-35.036627,-64.2473898,17z/data=!4m9!1m2!2m1!1sItalia+1820,+Realico,+La+Pampa!3m5!1s0x95c52bf971e10c8b:0xdb3aabb28ff046f8!8m2!3d-35.0348676!4d-64.2431477!15sCh5JdGFsaWEgMTgyMCwgUmVhbGljbywgTGEgUGFtcGGSAQpoYW5kaWNyYWZ0" target="blank" style="text-decoration: none; color: white;">

            <p ><span id="map"><i class="fas fa-map-marker-alt 
                animate__animated animate__flash"></i></span>Italia 1820,
                Realicó. La Pampa</p></a>
            <p> <span id="whatsapp"><i class="fab fa-whatsapp fa-3x" ></i></span>2302 41 6035</p>
    
        </section>          
    </section>
  
         
<form  autocomplete="off" [formGroup]="myForm" id="form"  class="form_contact"> 

    <h2>Formulario de Contacto</h2>  


        <label>Nombres y Apellido *</label>
        <input type="text"  class="form-control" formControlName="name" autofocus> 
        
            <span class="form-text text-danger animate__animated animate__tada " 
            *ngIf ="validField ('name')">
                Incluya Nombre y Apellido
            </span> 
      <br> <br>  
        <label>Telefono / Celular *</label>
        <input type="number" class="form-control" formControlName="phone">
            <span class="form-text text-danger  animate__animated animate__tada "
             *ngIf ="validField ('phone')">
                Este campo es obligatorio
            </span> 
      <br>   <br>     
        <label>Correo electronico *</label>
        <input type="email" class="form-control" formControlName="email" >
        <span class="form-text text-danger  animate__animated animate__tada "
        *ngIf ="validField ('email')">
           No respeta formato de email 
       </span> 
       <br>   <br>  
            
         <br>                           
        <label class="mt-5">Mensaje *</label>
        <textarea class="form-control" formControlName="message"></textarea>

   
       
         
      
    
          

        <button  type="button"  disabled={{clicked}} class="enviar btn btn-success" 
        (click)="sendForm()" id="font">Enviar </button> 
        
        <button type="button" class="volver btn btn-primary"  
            (click)="onCloseSeguir()">
            Volver   </button> 

</form> 
      


 
</section>   
   

  



      
