


  
  <br><br>
  <div class="flex-container">
  <div class="carrito"  >
    
     Carro de Compras
  </div>
 
 <br> <br>


        <h2 class="font text-center" >Productos Seleccionados</h2>
    

    <br>
        
        <div *ngIf="cart.lines.length === 0" colspan="4" class="text-center" >
            
          <h2 class="font text-center">...............Carrito Vacio!!...............</h2>
        
        
       </div >




      <div class="container"     *ngIf="cart.lines.length != 0">


        <div class="row font"  *ngFor="let line of cart.lines" >
        
          <div class="col-3">
          
            <input type="number" class="form-control-sm" style="width: 4em;" [value]="line.quantity" 
                  (change)="updateQuantities(line.producto)"     #inputQuantity >
                      
                       
          </div>
          
          
       
         <div class="col-3">{{line.producto.name}}</div>
         <div class="col-3"> {{line.producto.price | currency:"USD":true:"2.2-2"}} </div> 
        
         <div class="col-3">    
            
             <a routerLink="/store/shopping-cart" (click)="cart.removeLine(line.producto.id)"> 
               <span class="material-icons ">
                delete_forever
                </span>
              </a> 

          </div>         
                        
           
     <br><br><br>
                
        </div>

     

        <div class="precio" > <b>Total del carrito:   {{cart.cartPrice | currency:"USD":true:"2.2-2"}}</b></div>


      </div>
       
   
       <br><br>


    <div class="d-flex flex-row justify-content-center">


     
                                   
      
        <button class="keepbuy btn  btn-primary "   
                  (click)="onCloseSeguir()" disabled={{clicked}}>
            Seguir Comprando
         
          </button> 
         <button class="buy btn btn-success ml-3" id="font" 
              *ngIf="cart.lines.length != 0"            
          
               data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
                           
               >
               
               Comprar 
             <!-- <div className="spinner-border" role="status">
              <span className="sr-only">Loading...</span>
          </div>   -->

          </button>  
        </div>
    </div>
  

    <!-- <button class="btn btn-primary" type="button" >
      Seleccione Medio de Pago

    </button> -->





<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"  >

  
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <div>
    Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
  </div>
  <div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</div>
</div>


    
    <!-- <form  #form="ngForm" >
      <ul *ngFor="let line of cart.lines">


       
          <input type="hidden" name="title"  ngModel >
        
      
          <input type="hidden" name="quantity"  [(ngModel)]="line.quantity" >
      
    
          <input type="hidden" name="unit_price"  [(ngModel)]="cart.cartPrice" >
 
      </ul>

      </form> -->


   

  
   
