


  
  <br><br>
  <div class="flex-container">
  <div class="carrito"> Carro de Compras  </div>
 
 <br> <br>


        <h2 class="font text-center" >Productos Seleccionados</h2>
    

    <br>
        
        <div *ngIf="cart.lines.length === 0" colspan="4" class="text-center" >
            
          <h2 class="font text-center">...............Carrito Vacio!!...............</h2>
        
        
       </div >




      <div class="container" *ngIf="cart.lines.length !==0">


        <div class="row font"  *ngFor="let line of cart.lines" >
        
          <div class="col-3">
          
            <input type="number" class="form-control-sm" style="width: 4em;" 
             [value]="line.quantity" 
             (change)="cart.updateQuantity(line.producto, $event.target.value)">

                      
                       
          </div>
          
          
       
         <div class="col-3"> {{line.producto.name}}</div>
         <div class="col-3"> {{line.producto.price | currency:"USD":true:"2.2-2"}} </div> 
        
         <div class="col-3">    
            
             <a routerLink="/store/shopping-cart" (click)="cart.removeLine(line.producto.id)"> 
               <span class="material-icons ">
                delete_forever
                </span>
              </a> 

          </div>         
                        
           
     <br><br><br>
                
        </div>

     

        <div class="precio" > <b>Total del carrito:   {{cart.cartPrice | currency:"USD":true:"2.2-2"}}</b></div>


      </div>
       
   
       <br><br>


    <div class="d-flex flex-row justify-content-center">


      <!-- (click)="onCloseSeguir()" disabled={{clicked}}> -->
     
                                   
      
        <button class="keepbuy btn  btn-primary" routerLink="/home"   
                 >
            Seguir Comprando
         
          </button> 
         <button class="buy btn btn-success ml-3" id="font" 
              *ngIf="cart.lines.length != 0"            
          (click)="generateBuy2()"
                           
               >
               <!-- data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" -->

               
               Comprar 
             <!-- <div className="spinner-border" role="status">
              <span className="sr-only">Loading...</span>
          </div>   -->

          </button>  
        </div>
    </div>
  

    <!-- <button class="btn btn-primary" type="button" >
      Seleccione Medio de Pago

    </button> -->





<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"  >

  
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Medios de Pago</h5>
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <div>
    <p>Podes elegir como queres realizar el pago</p>
  </div>
  <div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle animate__animated animate__fadeIn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" >
      Selecciona como queres pagar
    </button>
    <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Mercado Pago</a></li>
      <li><a class="dropdown-item" href="#">Transferencia Bancaria</a></li>
      <li><a class="dropdown-item" href="https://www.google.com.ar/maps/place/Dulce+Alma+Deco/@-35.036627,-64.2473898,17z/data=!4m9!1m2!2m1!1sItalia+1820,+Realico,+La+Pampa!3m5!1s0x95c52bf971e10c8b:0xdb3aabb28ff046f8!8m2!3d-35.0348676!4d-64.2431477!15sCh5JdGFsaWEgMTgyMCwgUmVhbGljbywgTGEgUGFtcGGSAQpoYW5kaWNyYWZ0" target="blank">Paso por el local</a></li>
    </ul>
    <br>
    <hr>
    <div>
      <img src="./assets/dadeco2.jpg">
    </div>
  </div>
</div>
</div>




    <!-- <form  #form="ngForm" >
      <ul *ngFor="let line of cart.lines">


       
          <input type="hidden" name="title"  ngModel >
        
      
          <input type="hidden" name="quantity"  [(ngModel)]="line.quantity" >
      
    
          <input type="hidden" name="unit_price"  [(ngModel)]="cart.cartPrice" >
 
      </ul>

      </form>
 -->

   

  
   
