  
  <br>
  <div class="container-fluid animate__animated animate__fadeIn">
  <div class="carrito" > Carro de Compras  </div>
 
 <br> <br>


        <h2 class="font text-center" >Productos Seleccionados</h2>
    

    <br>
        
        <div *ngIf="cart.lines.length === 0" colspan="4" class="text-center" >
            
          <h2 class="font text-center">...............Carrito Vacio!!...............</h2>
        
        
       </div >




      <div class="container" *ngIf="cart.lines.length !==0">


        <div class="row font"  *ngFor="let line of cart.lines" >
        
          <div class="col-3">
          
            <input type="number" class="form-control-sm" style="width: 4em;" 
             [value]="line.quantity" 
             (change)="cart.updateQuantity(line.producto, $event.target.value)"
             min="1" pattern="^[0-9]+">

                      
                       
          </div>
          
          
       
         <div class="col-3"> {{line.producto.name}}</div>
         <div class="col-3"> {{line.producto.price | currency:'CAD':'symbol-narrow':'1.2-2'}} </div> 
        
         <div class="col-3">    
            
             <a routerLink="/store/shopping-cart" (click)="cart.removeLine(line.producto.id)"> 
               <span class="material-icons">
                delete_forever
                </span>
              </a> 

          </div>         
                        
           
     <br><br><br>
                
        </div>

     

        <div class="precio" > <b>Total del carrito:   {{cart.cartPrice | currency:'CAD':'symbol-narrow':'1.2-2'}}</b></div>


      </div>
       
   
       <br><br>


      <div class="d-flex justify-content-center">                           
      
        <button class="btn" routerLink="/home"  
            (click)="onCloseSeguir()">
            Seguir Comprando
         
          </button> 
         <button  class="btn" style="margin-left: 5px;"  id="font" 
              *ngIf="cart.lines.length != 0"  
              disabled={{clicked}}     
              routerLink="/invoice"             
               >
                Procesar Pedido 

          </button>  
        </div>
    </div>
  
    


