@font-face {
    font-family:'ribeye';
    src: url(/assets/font/Ribeye-Regular.ttf);
     
  }
/* ----------------------estilos globales-----------------------*/

  
  .container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  
  }
  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border-left-color: rgb(255, 0, 0);
    margin-top: 10vw;
  
    animation: spin 0.9s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  /* mat-icon{
    cursor:pointer;
    color: red;

  }
  mat-icon:hover{
    color: rgb(221, 3, 3);

  } */
  .skip_previous{
    cursor:pointer;
    color: red;
    line-height: 50px;
  }
  .skip_previous{
    color: rgb(221, 3, 3);

  }
  .skip_next{
    cursor:pointer;
    color: red;
  }
  .skip_next{
    color: rgb(221, 3, 3);

  }
  

.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 48vw;
  
}
.div-img .img {
 

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.div-img:hover .img {
  opacity: 0.9;
  box-shadow: 5px 5px 10px rgb(100, 97, 97);
  filter:brightness(0.8);
  
}


.div-img .text{
  height: 58px;
  background-color:whitesmoke;
  display: block;
  text-align: center;
  width: 100%;
  transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  opacity: 0;
  transition: transfom opacity 1s;
  font-family:'ribeye';
}

 .div-img:hover .text {
  transform: translate(0px, -56px);
  opacity: 0.8;
  background-color:whitesmoke;
  font-family:'ribeye';
  font-size: 3vw;
  text-align: center;


}

.div-img .shopping{
    background-color:rgb(243, 52, 39);
    opacity: 0.8;
    transform: scale(0.8);
}
.skip_previous{
  margin-left: 94%;
}

.items h2{
  font-size: 3vw;
  font-family: 'ribeye';
}

/* ----------------------estilos globales-----------------------*/




  
  
  /* -------------------------------------------@media query------------------------------------ */
   
  
  @media only screen and (max-width: 573px){     
 
    .items h2{
      font-size: 3vw;
    }
    .skip_previous{
      margin-left: 80%;
    }

  }  
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 574px)and (max-width: 767px){

    .div-img:hover .text {
      font-size: 2vw;
    
    }   

    .items h2{
      font-size: 3vw;
    }
      
  }
  
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px)and (max-width: 1280px) {
  
    .div-img {
   
      width: 23vw;
      
    }
    .div-img:hover .text {
      transform: translate(0px, -56px);
      opacity: 0.8;
      background-color:whitesmoke;
      font-family:'ribeye';
      font-size: 1.3vw;
      text-align: center;    
    
    }   
    .skip_previous{
       margin-left: 94%;
   
    }
    .items h2{
      font-size: 1.8vw;
    }
   
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 1281px) {
    
    
    .div-img {
   
      width: 18vw;
      
    }
    
    .div-img:hover .text {
      transform: translate(0px, -56px);
      opacity: 0.8;
      background-color:whitesmoke;
      font-family:'ribeye';
      font-size: 1.2vw;
      text-align: center; 
    
    }  
    .skip_previous{
      margin-left: 95%;
    }
    .items h2{
      font-size: 1.3vw;
    }
  }
  
  
  
  
  