



   <div class="flex-container animate__animated animate__fadeIn"  id='font'>
       
    <div class="d-flex flex-row flex-wrap   align-items-center justify-content-around ">
      
       <div class="div-img text-center mt-5"  *ngFor= "let producto of productWood, index as i" >
    
          <img class="img" [src]="producto.img">                                   
         
       
              
           <div class="text" id="font">

            <p id="nombre" >{{producto.name}} $ {{producto.price}}</p>

         
              <a   [routerLink]="['/store/view-more',i]">

              <p class="vermas text-center text-white" > <b> < VER MÁS > </b> </p> 
              </a> 
          
              </div>

       </div>

       
      
  
  </div>
  

  
 </div>


<div class="my-spinner container align-items-center" [hidden]="hidden">
   <div class="spinner"></div>
</div>